---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
   {
    title: "Home",
    path: "/",
  },

     {
    title: "About",
    path: "#about",
  },
  {
    title: "Meet the band",
    path: "#the-band",
  },

    {
    title: "Our greatest moments",
    path: "#gallery",
  },

  {
    title: "Contact",
    path: "#contact-us",
  },
];
---

<div class="nav-how-it-works">

How it works?

</div>
