---
import Contactform from "@components/contactform.astro";
---


<section id="contact-us" class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16 lg:px-6 ">
      <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Get in touch with us</h2>
          <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400 text-center">If you have any questions or want to book us, please don't hesitate to contact me. I am here to help and would be happy to assist you in any way I can. Cheers! Olive</p>
      </div>     

      <div class="mx-auto text-center">
  <!-- <img class="mx-auto" src="/img/frame.png" alt="QR code for contact information"> -->
  <Contactform/>
</div>
    </div>
  </section>