


<section id="gallery">

    <div class="text-center my-8 mb-20">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Gallery</h2>
            <p class="text-lg mt-4">Have a selection of our greatest moments</p>
        </div> 

<div class="container lg:px-32 px-4 py-8 mx-auto items-center ">
  <div class="grid grid-cols-4 grid-rows-4 grid-flow-col gap-2">
    <div class="w-full row-span-2">
      <img
        src="/img/gallery/1.jpg"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100">
    </div>
    <div class="w-full col-span-2 row-span-2">
      <img
        src="/img/gallery/2.jpg"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100 ">
    </div>
    <div class="w-full ">
      <img
        src="/img/gallery/3.jpg"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100 ">
    </div>
    <div class="w-full">
      <img
        src="/img/hero.jpg"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100 ">
    </div>
    <div class="w-full col-span-2 row-span-2">
      <img
        src="/img/gallery/4.jpg"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100 ">
    </div>
   
    <div class="w-full col-span-2">
      <img
        src="/img/team/3.jpg"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100 ">
    </div>
    <div class="w-full">
      <img
        src="/img/gallery/6.jpg"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100 ">
    </div>
    <div class="w-full">
      <img
        src="/img/gallery/7.JPG"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100 ">
    </div>
  </div>
</section>