<!--How it works-->

<div id="how-it-works">
    <div class="column-2">
        <h1>Save time, and do things you love</h1>
        <p> At Dutch Homehunter, we understand that finding your dream home can be overwhelming. That's why we offer a personalized approach to help you discover the perfect space based on your preferences and requirements. Our team is dedicated to understanding your unique needs, making your home search more efficient and enjoyable.
    </div>
    <div class="column-2">
        <h2>Step 1 - Share your preferences</h2>
         <p>Share Your Preferences: Start by telling us about your dream home. Share your location, budget, size, and any specific features you desire.
        </p>
    </div>
    <div class="column-2">
        <h2>Step 2 - Our search begins</h2>
        <p>After receiving your payment our team will conduct a thorough search, considering both on-market and off-market properties to find the best options for you.
    </div>
    <div class="column-2">
      <h2>Step 3 - Receive Recommendations</h2>
      <p>You'll receive a curated list of properties that match your criteria, including exclusive options you won't find elsewhere.</p>

       <button class="bg-orangeluxury hover:bg-yellow-700 border-yellow-600 hover:border-yellow-700 text-white inquiry-btn submit-btn w-full !h-12 rounded py-3 px-3 text-center cursor-pointer" data-item-id="naam" data-item-custom1-name="Referral code" data-item-stackable="always" data-item-price="100" data-item-description="Wij gaan zoeken voor jou terwijl je aan het werk bent" data-item-image="" data-item-name="Homehunter package" onclick="closeDiv()">
                    I understand how it works
        </button>
    </div>
</div>

